@model MVCTestPfile.Models.LoginModel

@{
    ViewBag.Title = "Выполнить вход";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    <h2>Используйте для входа локальную учетную запись.</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="row">
            @*@Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "form-control" })*@
            <div class="col-md-2 col-sm-3 col-xs-4 text-right">
                <label class="control-label">Имя пользователя</label>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-5">
                @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control", placeholder = "Login" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div class="row">
            @* @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "form-control" })*@
            <div class="col-md-2 col-sm-3 col-xs-4 text-right">
                <label class="control-label">Пароль</label>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-5">
                @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-4 text-right">
                <label class="control-label">Запомнить меня @Html.CheckBoxFor(m => m.RememberMe)</label>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-4 text-right">
                <input type="submit" value="Выполнить вход" class="btn btn-primary" />
            </div>

        </div>
        <p>
            @Html.ActionLink("Зарегистрируйтесь", "Register"), если у вас нет учетной записи.
        </p>
    }
</section>



<section class="social" id="socialLoginForm">
    <h2>Используйте для входа другую службу.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
